// Descriptive Color Variables
$brown: #c05d30;
$lightorange:#f5b347;
$gray: #333333;
$lightgray:#6b6b6b;
$white: #fff;
$black: #000;

//Hovers & Opacities
$hoverbrown: rgba( $brown, .85 );
$hovergray: rgba( $gray, .85 );
$hoverwhite: rgba( $white, .85 );
